

body {
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;

    font-family: 'Dancing Script', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Mooli', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}

.switch-btns {
    display: flex;
    justify-content: center;
    gap: 0;
    width: 100%;
}

.switch-btns a {
    height: 20px; 
    text-align: center;
    border-radius: 2px;
    border: none;
    background-color: rgb(240, 240, 240);
    color: black;
    width: 20rem;
}

.switch-btns a:active {
    color: rgb(240, 240, 240);
    background: #000; 
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.wrapper {
    padding: 1rem;
}

.product-card {
    border: 1px solid #ccc;
    margin-top: 10px;
    /* display: none; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 2rem;
}

.card {
    width: 100%;
    position: relative;
}

.badge {
    background-color: #f4f4f4;
    color: black;
    padding: 5px 15px;
    margin-bottom: 5px;
    display: inline-block;

    position: absolute;
    top: 1rem;
    left: 1rem;
}

button {
    border: none;
    margin-top: 1rem;
    width: 100%;
    border-radius: 2px;
    background-color: black;
    height: 35px;
    color: white;
}

.big-dot::before {
    content: '\2022'; 
    font-size: 2em;   
    color: black;     
}
